@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url(/assets/images/background.jpg);
    font-family: "Cinzel", sans-serif;
    text-align: center;
}

/* game area */

#game-area {
    margin-top: 5%;
    background-color: rgb(255, 255, 255, 30%);
    border-radius: 1rem;
    width: 50%;
    height: 600px;
}

/* heading */

#heading {
    padding-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px rgb(233, 93, 93);
}

/* game area */

#game-area {
    margin-top: 5%;
    background-color: rgb(255, 255, 255, 30%);
    border: 0.5rem groove rgb(132, 226, 111);
    border-radius: 1rem;
    width: 50%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

}

#player-name, #computer-name {
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px rgb(54, 180, 88);
}

/* dices */

#dice1, #dice2 {
    height: 30%;
    width: 50%;
    padding-top: 30px;
    float: left;
}

#player {
    background-color: rgb(233, 77, 5);
    color: whitesmoke;
    border-radius: 15%;
    border: 1px solid;
}

/* roll button and player name edit button */
#roll {
    margin-top: 3%;
    border-radius: 10%;
    background-color: rgb(233, 77, 5);
    font-family: "Cinzel", sans-serif;
    font-size: 1.7rem;
    border: 1px solid;
}

#roll:hover, #player:hover {
    background: whitesmoke;
    color: rgb(233, 5, 5);
    cursor: pointer;
}

/* score and wins sections */

.score-area {
    padding-top: 5%;
    color: white;
}
.scores,.wins {
    display: inline-block;
    text-align: center;
    padding-inline: 40px;
    color: whitesmoke;
}

.heading-score {
    font-weight: 1.2;
    text-shadow: 1px 1px rgb(233, 93, 93);
}

#score-section {
    padding-bottom: 10px;
}

#score-section > h1, #win-section > h1{
    padding-bottom: 10px;
}

#win-section {
    padding-top: 30px;
}

#score-player, #win {
    color: rgb(146, 255, 146);
    font-weight: bold;
    font-size: 1.8rem;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.566);
}

#score-computer, #loose {
    color: rgb(246, 49, 49);
    font-weight: bold; 
    font-size: 1.8rem;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.566);
}
/* rules section */


/* Media queries */

/* For large to medium screens sizes from 1040px wide and down */
@media screen and (max-width: 1040px) {
    #game-area{
        width:80%
    }
}

/* For large to medium screens sizes from 550px wide and down */
@media screen and (max-width: 550px) {
    #game-area{
        width:100%
    }
    img {
    width: 110px;
    height: 110px;
    }
}