@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fira+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url(/assets/images/background.jpg);
    font-family: "Cinzel", sans-serif;
    text-align: center;
}

/* heading and quote */

#heading {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 1.5;
    font-size: 5rem;
    color: whitesmoke;
    text-shadow: 3px 3px rgb(233, 93, 93);
}
#quote {
    color: whitesmoke;
    margin-bottom: 5px;
}

/* game area */

#game-area {
    margin-top: 10px;
    background-color: rgb(255, 255, 255, 30%);
    box-sizing: border-box;
    border-radius: 3rem;
    width: 60%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#game-area h1 {
    margin-bottom: 20px;
}

/* dices */

.dice-area {
    text-align: center;
    display: inline-block;
    margin: auto;
    color: white;
    text-shadow: 3px 3px rgb(54, 180, 88);
}

#dice1, #dice2 {
    padding-top: 20px;
    margin-inline: 45px;
}
#player {
    background-color: rgb(233, 77, 5);
    color: whitesmoke;
    font-size: 1.3rem;
    border-radius: 15%;
    border: 1px solid;
}

/* roll button and player name edit button */
#roll {
    display: inherit;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10%;
    background-color: rgb(233, 77, 5);
    color: whitesmoke;
    font-family: "Cinzel", sans-serif;
    font-size: 2rem;
    border: 1px solid;
}

#roll:hover, #player:hover {
    background: whitesmoke;
    color: rgb(233, 5, 5);
    cursor: pointer;
}

/* score and wins sections */

.score-area {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    color: white;
}
.scores,.wins {
    display: inline-block;
    text-align: center;
    padding-inline: 40px;
    color: whitesmoke;
    font-weight: 1.2;
}

.heading-score {
    font-weight: 1.2;
}

#score-section {
    padding-bottom: 10px;
}

#score-section > h1, #win-section > h1{
    padding-bottom: 10px;
}

#win-section {
    padding-top: 30px;
}

